.jumbotron {
	background: linear-gradient(
		rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0.4)
	), url(https://saseucsb.com/assets/wrc2021/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-radius: 0;
	margin-bottom: 0px !important;
}

.jumbotron-hr {
	width: 30% !important;
	border-top: 10px solid white;
	margin-left: 0px;
	margin-top: 0px;
}

.text-workshops {
	color: #ffffff;
}

.text-about {
	padding: 0;
}

.about-sase {
	/* height: 50%; */
}

.pic-about {
	float: left;
	/* height: 100%; */
	margin: 30px 30px 0 0;
}

.container>.navbar-collapse {
	margin-right: -15px;
	margin-left: -15px;
}
.navbar-fixed-top, .navbar-collapse {
	max-height: 340px;
}
.navbar-collapse.in {
	overflow-y: auto;
}
.collapse.in {
	display: block;
}
.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

@media screen and (max-width: 885px) {
	.pic-about {
		float: left;
		height: 50% !important;
		margin-right: 30px;
	}
}

@media screen and (max-width: 985px) {
	.col-sm-6 {
		text-align: center !important;
		margin: auto;
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		flex: 0 0 100%;
		max-width: 100% !important;
	}
}

.img_merch {
	max-width: 300px;
	max-height: 300px;
	padding: 20px;
}

.img_premerch {
	max-width: 200px;
	max-height: 200px;
	padding: 20px;
}

.pre-sale {
	margin: 0 auto;
	text-align: center;
}

.img_sponsor {
	max-width: 400px;
	max-height: 300px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
}

.bg-schedule {
	background-color: rgba(236, 236, 236, 0.8);
	background: url('wavesbg.png') no-repeat center center fixed;
}

.bg-accomodations,.bg-premerch {
	background-color: rgb(213, 229, 244);
}

.bg-workshops {
	margin-left: 0px !important;
	margin-right: 0px !important;
	height: 600px;
	background-image:  url('workshops.jpg');
	background-size: 100% 100%;
}

.overlay {
	background-color: rgba(0,85,199, 0.4);
	max-width: 100%;
	border-right: 50px ridge rgba(0,85,199, 0.2);
	border-left: 50px ridge rgba(0,85,199, 0.2);
}

.schedule {
	width: 100%;
	max-width: 825px;
	background-color: rgba(236, 236, 236, 0.8);
	margin: 0 auto;
}

.time {
	text-align: right;
	color: rgb(0,74,173);
	font-weight: bold;
	padding-bottom: 0.75rem;
}

.event {
	text-align: left;
	border-left: 4px solid rgb(0,74,173);
	padding-bottom: 0.75rem;
	font-style: italic;
}

.img-circle {
	border-radius: 50%;
}

.subtitle {
	color: #46A606;
	font-size: 18px;
}
